* {
    box-sizing: border-box;
    text-align: center;
}
body {
    width:960px;
    color: #777777;
    background: #777777;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin:auto;
    line-height: 25px;
}

.container {
    padding: 20px;
}
h1,
p {
    background: #ebebeb;
    color: #777777;
    margin: 15px;
    height: 55px;
}

header,
nav,
footer {
    background: #ebebeb;
    margin-bottom: 8px;
    height: 100px;
    clear:both;
    
}
section {
    float:left;
    width:50%;
    height:250px;
    background: #ebebeb;
    margin-bottom: 10px;
}

article {
    color: #ebebeb;
    background: #777777;
    height: 180px;
    margin: 10px;
    margin-top: 40px;

}
    
aside {
    background: #ebebeb;
    color: #777777;
    width: 48%;
    float: left;
    height: 250px;
    margin-left: 18px;
}


